---
Language: Cpp
Standard: Cpp11
BasedOnStyle: Google
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortCaseLabelsOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: false
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: true
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: false
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: false
NamespaceIndentation: None
NamespaceMacros: ['NAMESPACE_BEGIN', 'NAMESPACE_END']
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
SortIncludes: false
SortUsingDeclarations: false
